#cloud-config
apt:
  sources:
    oke-node: {source: 'deb [trusted=yes] https://objectstorage.us-sanjose-1.oraclecloud.com/p/_Zaa2khW3lPESEbqZ2JB3FijAd0HeKmiP-KA2eOMuWwro85dcG2WAqua2o_a-PlZ/n/odx-oke/b/okn-repositories-private/o/prod/ubuntu-jammy/kubernetes-1.33 stable main'}
packages:
  - oci-oke-node-all-1.33.1
write_files:
  - path: /etc/oke/oke-apiserver
    permissions: '0644'
    content: <API SERVER HOST IP>
  - encoding: b64
    path: /etc/kubernetes/ca.crt
    permissions: '0644'
    content: <CA cert>
runcmd:
  - oke bootstrap --apiserver-host <API SERVER HOST IP> --ca "<CA cert>" --kubelet-extra-args "--feature-gates=DynamicResourceAllocation=true"
  - systemctl disable --now nvidia-imex.service && systemctl mask nvidia-imex.service
ssh_authorized_keys:
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCqftxN9j+mN75JKR...